/* IOMATIX INC all rights reserved */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}

/* remember to define focus styles! */
/*:focus {
outline: 0;
}*/

/* remember to highlight inserts somehow! */
ins {
text-decoration: none;
}
del {
text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
border-collapse: collapse;
border-spacing: 0;
}

HTML{
font-size: 100%;
}
BODY{
background:#fff;
color:#555555;
font: 0.74em/1.3em 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;
text-align:left;
}
body * {
font-size: 100%;
}

/* TAGS */
.red, .error, .new {
color:#CC0000;
}
a, a:visited {
color:#555555;
text-decoration:underline;
}
a:hover, a:active, a:focus, li.sel a, li.sel a:visited, a.sel, a.sel:visited {
color:#FF00FF;
text-decoration:underline;
}
a img {
border-width:0;
}

h1,h2,h3,h4 {
color:#555555;
margin:0 0 0 1px;
padding:0;
font-weight: normal;
* font-weight:bold;
}
h1{
font: 2.1em/1em Helvetica,Arial,Verdana,sans-serif;
}
h2{
font:normal 2em/1em 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;
margin-bottom:2px;
font-weight:300;
}
h3{
font:bold 1.2em/1.2em 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;
}
h4{
font:bold 1.2em/1em 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;
margin-bottom:10px;
}
label {
display:block;
padding:3px;
text-transform:uppercase;
color:#555555;
}
input, textarea, select {
color:#555555;
padding:2px 3px 1px 5px;
background:#fff;
border:1px solid #CCCCCC;
margin-right:3px;
}
textarea {
font: 1.1em/1em Helvetica,Arial,Verdana,sans-serif;
}
input.btn {
color:#555555;
padding:1px 4px 0;
* padding:0;
background:#E6E6E6;
border:1px solid #999999;
margin:0;
}
td input,td textarea,td select {
margin:0;
}
p {
margin:3px 0 17px 1px;
}
h2 p {
margin:0;
}
div.large p, p.large {
font:normal 1.39em/1.39em 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;
font-weight:300;
margin:0 0 15px 1px;
}
p.small {
font:italic .84em/1.1em 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;
margin:4px 0 15px 1px;
}
hr {
border: 0;
color: #CCCCCC;
background-color: #CCCCCC;
height: 1px;
width: 100%;
text-align: left;
margin:0 0 7px;
clear:both;
}
hr.two {
height: 2px;
margin:2px 0 14px;
}

/* COLOR CLASSES */
.blk {
color:#000000;
}

/* STANDARD CLASSES */
.left {
float:left;
}
.right {
float:right;
}
.strong {
font-weight:bold;
}
.italic {
font-style:italic;
}
.sup {
vertical-align:top;
font:.7em/1.9em Helvetica,Arial,Verdana,sans-serif;
}
.nowrap {
white-space:nowrap;
}

/* LAYOUT */

#wrapper {
width:952px;
margin:0 auto;
padding:0;
}
#header {
height:100px;
}
h1#logo {
float:right;
}
#banner {
width:954px;
height:518px;
overflow:hidden;
}
#banner .slide {
width:954px;
height: 518px;
}
#feature, #feature_caption {
width:712px;
height:297px;
background:#555555;
overflow:hidden;
border-bottom:#FF00FF 6px solid;
margin-bottom:24px;
}
#feature_caption {
margin-bottom:0;
}
#feature a, #feature a:visited, #feature_caption a, #feature_caption a:visited {
color:#ffffff;
text-decoration:underline;
}
#sidebar {
width:230px;
* width:228px;
overflow:hidden;
}
.bnfl_w230 {
width:230px;
* width:228px;
overflow:hidden;
}
.b_w230 {
float:left;
width:230px;
* width:228px;
overflow:hidden;
margin-right:10px;
* margin-right:9px;
}
.b_w210 {
float:left;
margin-right:10px;
* margin-right:9px;
overflow:hidden;
padding:10px 10px 0;
width:210px;
* width:208px;
}
.b_w349 {
border-top:#CCCCCC 1px solid;
width:349px;
* width:347px;
overflow:hidden;
padding-top:7px;
}
.b_w350, .bfl_w350 {
width:350px;
* width:348px;
overflow:hidden;
}
.bfl_w350 {
float:left;
margin-right:11px;
}
.b_w470 {
float:left;
width:470px;
* width:468px;
overflow:hidden;
}
.b_w591 {
float:left;
width:591px;
* width:589px;
overflow:hidden;
margin-right:11px;
}
.b_w592 {
float:left;
width:592px;
* width:590px;
overflow:hidden;
margin-right:11px;
}
.b_w712 {
float:left;
width:712px;
* width:710px;
overflow:hidden;
margin-right:10px;
}
.list {
padding:3px 0 15px;
min-height:156px;
}
.list_promo {
padding-top:6px;
}
.category {
height:17px;
padding:8px 0 10px;
border-top:#CCCCCC 1px solid;
}
.full,.full_padd {
width:100%;
text-align:right;
}
.full_padd div.row {
padding:8px 0 10px;
}
.full .left,.full_padd .left{
text-align:left;
float:left;
width:80%;
}
.b_grey {
background-color:#E6E6E6;
padding:9px 10px;
margin-bottom:18px;
}
.left_p {
float:left;
margin:0 28px 0 0;
padding:0;
width:91px;
}
#footer {
border-top:#CCCCCC 1px solid;
margin:30px 0 10px;
padding-top:10px;
clear:both;
font:.96em/1.3em Helvetica,Arial,Verdana,sans-serif;
}
.nohr {
border-top:none;
padding-top:0;
}

/* BACKGROUND ELEMENTS */
h1#logo {
display:block;
width:125px;
height:86px;
text-indent:-9009px;
background:transparent url('../img/ica.gif') no-repeat;
padding:0;
margin:0;
}
h1#logo a {
display:block;
width:100%;
height:100%;
outline:none;
}
#banner img{
border-bottom:#FF00FF 6px solid;
}

a.start,a.end,a.prev,a.next {
display:block;
float:left;
width:9px;
height:10px;
text-indent:-9009px;
padding:0;
margin:2px;
}
a.start:hover,a.end:hover,a.prev:hover,a.next:hover {
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
a.start {
width:12px;
background:transparent url('/img/arrows_start.gif') no-repeat;
}
a.end {
width:12px;
background:transparent url('/img/arrows_end.gif') no-repeat;
}
a.prev {
background:transparent url('/img/arrows_prev.gif') no-repeat;
}
a.next {
background:transparent url('/img/arrows_next.gif') no-repeat;
}
.pagination,.pagination_search {
padding:6px 0 0;
float:right;
}
.pagination_search {
padding-top:1px;
}
.main_header {
height: 26px;
}
/* LIST ELEMENTS */
#header ul{
float:left;
padding:11px 84px 0 0;
}
#header ul li {
font:normal 1.3em/1.2em Helvetica,Arial,Verdana,sans-serif;
}
#header li a, #header li a:visited, #header li a:active, #header li a:focus, #header li a:hover {
text-decoration:none;
}
#sidebar li {
padding:4px 0;
border-top:#CCCCCC 1px solid;
font-weight:bold;
}
#sidebar li.last {
padding:2px 0 8px;
border-top:none;
border-bottom:#CCCCCC 1px solid;
margin-bottom:5px;
}
.ext_links a, .ext_links a:visited, .ext_links a:focus, .ext_links a:active, .ext_links a:hover {
margin-right:7px;
}

/* VARIANT ELEMENTS */
.bnfl_w230 img, .b_w230 img {
margin-bottom:9px;
}
.list img {
margin:0 10px 0 0;
}
.list_promo table {
margin-bottom:20px;
}
#banner h2 {
font: 1.5em/1em Helvetica,Arial,Verdana,sans-serif;
border:none;
}
#sidebar h2.small {
font:bold 1em/1.2em Helvetica,Arial,Verdana,sans-serif;
border:none;
padding:0;
}
h2 .subtitle {
color:#AAAAAA;
}
.b_w349 h2 {
margin-bottom:5px;
margin-left:1px;
}
.b_grey h3 {
font:normal 1.6em/1.2em 'Helvetica Neue', Helvetica,Arial,Verdana,sans-serif;
}
.b_grey p {
margin-top:0;
margin-bottom:0;
}
.b_grey p.strong {
margin-bottom:10px;
}
#sidebar h2,.b_w349 h2,.b_w350 h2,.bfl_w350 h2, .b_w592 h3 {
font:normal 1.5em/1.2em 'Helvetica Neue', Helvetica,Arial,Verdana,sans-serif;
font-weight:300;
margin-left:1px;
}
#sidebar h2 {
border-top:#CCCCCC 1px solid;
border-bottom:#CCCCCC 1px solid;
padding:4px 0 7px;
margin:0 0 8px 1px;
}
#sidebar h2.first {
border-top:none;
margin-top:-4px;
padding-top:0
}
#sidebar h2.nobdr {
border:none;
padding-top:0
}
.category h2, .category h3 {
float:left;
}
.category select {
margin-right:0;
}
#sidebar input {
width:158px;
}
#sidebar input.btn {
width:59px;
* width:56px;
}
#feature p, #feature_caption p {
padding:10px 15px;
color:#FFFFFF;
width:211px;
margin:0;
overflow:hidden;
font:300 1.39em/1.39em 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;
}
.b_w349 p {
margin:15px 0 0;
}
.left_p p {
margin:0 0 0 1px;
padding:0;
min-height:156px;
}
.m_small {
margin:0 0 8px;
}

/* CALENDAR */
#cal_head {
margin:10px 0;
font-weight:bold;
}
.sm_month,.sm_month_r,.sm_month_l {
font:normal 1.2em/1em Helvetica,Arial,Verdana,sans-serif;
}
.sm_month_l {
	float:left;
}
.sm_month_r {
	float:right;
}
.sm_month {
	text-align:center;
	font-weight:bold;
}

.cal td {
	cursor:default;
	background-color:#CCCCCC;
    text-align:center;
    vertical-align:top;
    border:8px solid #ffffff;
    padding:0;
    margin:0;
	width:43px;
	height:43px;
}
.cal td {
	color:#FFFFFF;
	font:normal 1.5em/2em 'Helvetica Neue', Helvetica,Arial,Verdana,sans-serif;
}
.cal td a,.cal td a:visited,.cal td a:active {
	cursor:default;
    border:0;
    margin:0;
    text-decoration:none;
}
.cal td.calevent a,.cal td.calevent a:visited,.cal td.calevent a:active {
	cursor:pointer;
    color:#FF00FF;
    margin:0;
    text-decoration:none;
}
.cal td.calevent:hover {
	background-color:#E6E6E6;
}
td.caldow,th.caldow {
	display:none;
}
td.calspace {
	background-color:#ffffff;
    color:#ffffff;
    border:0;
}


/* ADMIN */
.fold {
display:block;
position:absolute;
text-indent:0;
}
.fold img, #banner .fold img {
border:none;
padding:0;
margin:0;
}
#admin_nav {
width:39px;
height:100%;
background:#eeeeee;
position:fixed;
top:0;
left:0;
border-right:#cccccc 1px solid;
}
#admin_nav li {
	padding:5px 5px 10px;
	width:30px;
	height:25px;
}
#admin_nav li.bg_sitemap {
	background:transparent url('http://demo.wearecharette.com/img/share.png') no-repeat 6px 7px;
}
#props li.bg_add_page {
	background:transparent url('http://demo.wearecharette.com/img/doc_plus.png') no-repeat 6px 7px;
}
#props li.bg_seo {
	background:transparent url('http://demo.wearecharette.com/img/zoom.png') no-repeat 5px 7px;
}
#props li.bg_settings {
	background:transparent url('http://demo.wearecharette.com/img/cog_alt.png') no-repeat 9px 9px;
}
#admin_nav li.bg_files {
	background:transparent url('http://demo.wearecharette.com/img/icons/images.png') no-repeat 6px 7px;
}
#admin_nav li.bg_logout {
	background:transparent url('http://demo.wearecharette.com/img/contact_card.png') no-repeat 6px 7px;
}
#admin_nav li.sel {
	background-color:#FFFFFF;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
}
	#admin_nav li a:link, #admin_nav li a:visited {
		font:normal 1.1em/1em 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;
		font-weight:300;
		* font-weight:bold;
		letter-spacing:1px;
		color:#FFFFFF;
		width:30px;
		height:30px;
		left:4px;
		letter-spacing:1px;
		line-height:1em;
		position:absolute;
		text-decoration:none;
		text-indent:-9009px;
	}
	#admin_nav li a:hover, #admin_nav li a:focus, #admin_nav li a:active, #admin_nav li.current a:link, #admin_nav li.current a:visited, #admin_nav li.current a:hover,#admin_nav li.current a:focus,#admin_nav li.current a:active {
		color:#FFFFCC;
		text-decoration:none;
		border:#cccccc 1px solid;
	}
a.jqHTML_link:link,a.jqHTML_link:visited { color: #1C94C4; text-decoration:none; }
a.jqHTML_link:hover,a.jqHTML_link:active,a.jqHTML_link:focus { text-decoration:underline; }
span.error {
display:block;
}
#admin input.submit {
width:55px;
background-color:#333333;
color:#ffffff;
border:none;
margin-top:10px;
}
.add_new {
display:none;
}

.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 14px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('/img/ajax-loader.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #94B53D;
	color: white;
}
.create, .save, .delete, .close, .clear {
width:auto;
height:auto;
margin:2px 5px 0 0;
background-color:#E6E6E6;
border:1px solid #999999;
color:#555555;
text-transform:capitalize;
}
.create, .delete, .clear {
float:right;
margin-right:0;
}
.save, .close {
float:right;
margin-right:20px;
}
.delete:hover, .close:hover, .clear:hover {
background-color:#CC0000;
color:#FFFFFF;
}
.create:hover, .save:hover {
background-color:#91A023;
color:#FFFFFF;
}
.entry div:hover {
background:#eeeeee;
}
.grid a,.grid a:link,.grid a:active,.grid a:visited,.grid a:hover{
color:#333333;
text-decoration:none;
border:none;
}
label {
color:#777777;
display:block;
padding:3px 0;
text-transform:uppercase;
}
.suggest {
color:#a7a9ac;
}
.tip {
color:#CC0000;
display:none;
}
.hidelabel {
	display:none;
}
.grid a,.grid a:link,.grid a:active,.grid a:visited,.grid a:hover{
color:#333333;
text-decoration:none;
border:none;
}
label#message {
padding-top:18px;
}
/* date picker */
div.datepicker {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 196px;
	height: 147px;
	position: absolute;
	cursor: default;
	top: 0;
	left: 0;
	display: none;
    z-index:9999;
}
.datepickerContainer {
	background: #121212;
	position: absolute;
	top: 10px;
	left: 10px;
}
.datepickerBorderT {
	position: absolute;
	left: 10px;
	top: 0;
	right: 10px;
	height: 10px;
}
.datepickerBorderB {
	position: absolute;
	left: 10px;
	bottom: 0;
	right: 10px;
	height: 10px;
}
.datepickerBorderL {
	position: absolute;
	left: 0;
	bottom: 10px;
	top: 10px;
	width: 10px;
}
.datepickerBorderR {
	position: absolute;
	right: 0;
	bottom: 10px;
	top: 10px;
	width: 10px;
}
.datepickerBorderTL {
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
}
.datepickerBorderTR {
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 10px;
}
.datepickerBorderBL {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 10px;
	height: 10px;
}
.datepickerBorderBR {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 10px;
	height: 10px;
}
.datepickerHidden {
	display: none;
}
div.datepicker table {
	border-collapse:collapse;
}
div.datepicker a {
	color: #ffffff;
	text-decoration: none;
	cursor: default;
	outline: none;
}
div.datepicker table td {
	text-align: right;
	padding: 0;
	margin: 0;
}
div.datepicker th {
	text-align: center;
	color: #666;
	font-weight: normal;
}
div.datepicker tbody th {
	text-align: left;
}
div.datepicker tbody a {
	display: block;
}
.datepickerDays a {
	width: 20px;
	line-height: 16px;
	height: 16px;
	padding-right: 2px;
}
.datepickerYears a,
.datepickerMonths a{
	width: 39px;
	line-height: 40px;
	height: 40px;
	text-align: center;
}
td.datepickerNotInMonth a {
	color: #999;
}
tbody.datepickerDays td.datepickerSelected{
	background: #FF00FF;
}
tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
	background: #cccccc;
}
tbody.datepickerYears td.datepickerSelected,
tbody.datepickerMonths td.datepickerSelected{
	background: #cccccc;
}
div.datepicker a:hover, div.datepicker td.datepickerNotInMonth a:hover {
	color: #666666;
}
div.datepicker tbody th {
	text-align: right;
}
.datepickerSpace div {
	width: 20px;
}
.datepickerGoNext a,
.datepickerGoPrev a,
.datepickerMonth a {
	text-align: center;
	height: 10px;
	line-height: 10px;
}
.datepickerGoNext a {
	float: right;
	width: 20px;
}
.datepickerGoPrev a {
	float: left;
	width: 20px;
}
table.datepickerViewDays tbody.datepickerMonths,
table.datepickerViewDays tbody.datepickerYears,
table.datepickerViewMonths tbody.datepickerDays,
table.datepickerViewMonths tbody.datepickerYears,
table.datepickerViewMonths tr.datepickerDoW,
table.datepickerViewYears tbody.datepickerDays,
table.datepickerViewYears tbody.datepickerMonths,
table.datepickerViewYears tr.datepickerDoW {
	display: none;
}
td.datepickerDisabled a,
td.datepickerDisabled.datepickerNotInMonth a,
td.datepickerDisabled a:hover {
	color: #333;
}
td.datepickerSpecial a {
	background: #700;
}
td.datepickerSpecial.datepickerSelected a {
	background: #a00;
}

.datepickerContainer {
	top:-1px;
	left: 0;
	overflow: hidden;
	background: #b9b9b9;
	padding:10px 7px 5px;
}

.datepicker {
	position: absolute;
	bottom: 0;
	top: auto;
}
.datepickerBorderT,
.datepickerBorderB,
.datepickerBorderL,
.datepickerBorderR,
.datepickerBorderTL,
.datepickerBorderTR,
.datepickerBorderBL,
.datepickerBorderBR {
	background: transparent !important;
}
.datepicker a:hover{
	color: #b6f063;
}

.datepickerWeek {
display:none;
}
.calclose {
text-align:right;
display:none;
}
.datepickerDoW th {
padding-top:7px;
}

span.calicon_p {
cursor:pointer;
height:14px;
left:-24px;
position:relative;
top:2px;
width:14px;
z-index:8;
}

/* SITEMAP STYLER */

#sitemap, #sitemap ul, #sitemap li{
	margin:0;
	padding:0;
	list-style:none;
}
#sitemap{background:url('/img/line1.gif') repeat-y;}
#sitemap li{
	margin-top:1px;
	position:relative;
	width:100%;
	font:normal 18px/1.4em Helvetica,Arial,Verdana,sans-serif;
}
/* IE leaves a blank space where span is added so this is to avoid that */
* html #sitemap li{
	float:left;
	display:inline;
}

#sitemap li a{padding-left:28px;}
#sitemap li span{float:left;position:absolute;top:5px;left:5px;width:13px;height:13px;cursor:auto;font-size:0;}
#sitemap li span, #sitemap li span.collapsed{background:url('/img/collapsed.gif') no-repeat 0 0;} 
#sitemap li span.expanded{background:url('/img/expanded.gif') no-repeat 0 0;}

/* sub levels */

#sitemap li ul{	
	margin-left:90px;
	background:url('/img/line1.gif') repeat-y;
}
#sitemap li li{
	margin-top:10px;
	background:url('/img/line2.gif') no-repeat 0 0;
	font:normal 16px/1.4em Helvetica,Arial,Verdana,sans-serif;
}
#sitemap li li li{
margin-top:0;
font-weight:normal;
}

/* etc. */

/* float fix */

#sitemap:after, #sitemap ul:after{
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
#sitemap, #sitemap ul{display:block;}
/*  \*/
#sitemap, #sitemap ul{min-height:1%;}
* html #sitemap, * html #sitemap ul{height:1%;}
 /*  */
#sitemap ul{}

#props {
background-color:#eeeeee;
border-left:1px solid #CCCCCC;
right:0;
top:0;
width:39px;
position:fixed;
height:100%;
z-index:900000;
}
#leftpad {
height:39px;
}
#rightpad {
height:100px;
}


/* ADMIN LEFT NAV */
#admin_nav {
width:39px;
height:100%;
background:#eeeeee;
position:fixed;
top:0;
left:0;
border-right:#cccccc 1px solid;
z-index:999999;
}
/* ADMIN RIGHT NAV */
#props {
background-color:#eeeeee;
border-left:1px solid #CCCCCC;
right:0;
top:0;
width:39px;
position:fixed;
height:100%;
z-index:999999;
}
#props li, #admin_nav li {
	padding:5px 5px 11px;
	width:30px;
	height:25px;
	margin:5px 7px 0 0;
	float:left;
}
#props li.sel,#admin_nav li.sel {
	background-color:#FFFFFF;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
}
	#props li a:link, #props li a:visited, #admin_nav li a:link, #admin_nav li a:visited {
		font:normal 1.1em/2.5em 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;
		font-weight:300;
		* font-weight:bold;
		letter-spacing:1px;
		color:#080000;
		width:30px;
		height:30px;
		letter-spacing:1px;
		line-height:1em;
		position:absolute;
		text-decoration:none;
		text-indent:-9009px;
	}
	#props li a:hover, #props li a:focus, #props li a:active, #props li.current a:link, #props li.current a:visited, #props li.current a:hover,#props li.current a:focus,#props li.current a:active,
	#admin_nav li a:hover, #admin_nav li a:focus, #admin_nav li a:active, #admin_nav li.current a:link, #admin_nav li.current a:visited, #admin_nav li.current a:hover,#admin_nav li.current a:focus,#admin_nav li.current a:active {
		color:#080000;
		text-decoration:none;
		border:#cccccc 1px solid;
	}
#props_box, #add_box, #settings_box {
	display:none;
	margin:17px 19px 20px 20px;
	width:365px;
}
.edits {
display:none;
}
.edits div.box {
width:650px;
margin:12px 20px 5px;
}
.edits div.box label {
color:#080000;
}

.edits div.box textarea.limit,.edits div.box input.date,.edits div.box input.daterange,.edits div.box input.end,.edits div.box input.text, .edits div.box textarea.textarea, .edits div.box select.select {
padding:2px;
color:#080000;
width:97%;
}
.edits div.box input.multiple {
	padding-right: 25px;
}
.edits div.box select.select {
padding:1px;
}

.edits div.box input.date,.edits div.box input.daterange,.edits div.box input.end {
width:98px;
}

.create, .save, .delete, .close, .clear {
font:normal 1.2em/1em 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;
width:auto;
height:auto;
margin:2px 5px 0 0;
background-color:#F4F4F4;
border:1px solid #171717;
color:#171717;
text-transform:capitalize;
}
.create, .delete, .clear {
float:right;
margin-right:0;
}
.save, .close, .delete {
float:right;
margin-bottom:10px;
margin-right:15px;
}
.delete {
clear:left;
}
.delete:hover, .close:hover, .clear:hover {
background-color:#CC0000;
color:#FFFFFF;
}
.create:hover, .save:hover {
background-color:#91A023;
color:#FFFFFF;
}
.tdate {
height:50px;
width:100%;
}
.tdate .bx {
float:left;
}

.imglist img {
border:1px solid #E6E6E6;
height:100px;
margin:0;
padding:2px;
width:100px;
}
.imglist img:hover, .imglist img.active {
border:1px solid #080000;
}
.imglist {
list-style-type:none;
margin:0;
padding:0;
}
.imglist li {
float:left;
font-size:4em;
height:100px;
margin:0px 15px 15px 0;
text-align:center;
width:100px;
}

.imgbox {
width:100%;
height:115px;
}

/*.ui-state-highlight { height: 1.5em; line-height: 2.6em; }
.query div.overlay {border:1px solid red;}*/

/**
 * jQuery lightBox plugin
 * This jQuery plugin was inspired and based on Lightbox 2 by Lokesh Dhakar (http://www.huddletogether.com/projects/lightbox2/)
 * and adapted to me for use like a plugin from jQuery.
 * @name jquery-lightbox-0.4.css
 * @author Leandro Vieira Pinho - http://leandrovieira.com
 * @version 0.4
 * @date November 17, 2007
 * @category jQuery plugin
 * @copyright (c) 2007 Leandro Vieira Pinho (leandrovieira.com)
 * @license CC Attribution-No Derivative Works 2.5 Brazil - http://creativecommons.org/licenses/by-nd/2.5/br/deed.en_US
 * @example Visit http://leandrovieira.com/projects/jquery/lightbox/ for more informations about this jQuery plugin
 */
#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99990;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99991;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
    border: 3px solid #080000;
    border-bottom: none;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev { 
	left: 0; 
	float: left;
}
#lightbox-nav-btnNext { 
	right: 0; 
	float: right;
}
#lightbox-container-image-data-box {
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0; border: 3px solid #080000;border-top: none;
}
#lightbox-container-image-data {
	padding: 0 10px; 
	color: #666; 
}
#lightbox-container-image-data #lightbox-image-details { 
	width: 80%; 
	float: left; 
	text-align: left;
}	
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
	display: block; 
	clear: left; 
	padding-bottom: 1.0em;
}			
#lightbox-secNav-btnClose {
	width: 66px; 
	float: right;
	padding-bottom: 0.7em;	
}

#slideNavWrap{
position:absolute;
text-align:right;
top:476px;
z-index:999;
margin-left:4px;
}
#slideNavWrap > a{
border:none;
text-decoration:none;
}
#slideNavWrap a img{
float:left;
display:block;
margin:0 4px;
border:none;
}
span#slideNav{
display:block;
}
#slideNav a:link, #slideNav a:visited {
background-color:#FFFFFF;
text-decoration:none;
color:#FFFFFF;
font-size:1px;
margin:6px;
height:20px !important;
width:20px !important;
line-height:10px;
display:block;
float:left;
border:1px #dcdcdc solid;
opacity:.8;
}
#slideNav a.activeSlide, #slideNav a:hover {
background-color:#FF00FF;
color:#FF00FF;
opacity:1;
}
#blanket {
background-color:#1B1B1B;
width:100%;
height:100%;
top:0;
left:0;
overflow:hidden;
position:absolute;
z-index:79;
display:none;
opacity:.8;
}
#window {
position:absolute;
width:100%;
top:55px;
left:0;
z-index:80;
text-align:center;
height:717px;
display:none;
}
#form_join {
display:none;
width:460px;
margin:0 auto;
overflow:hidden;
background:#F2F2F2;
border:1px solid #000000;
line-height:1.8em;
padding:25px 30px 30px;
}
#form_join label {
color:#666666;
display:block;
float:left;
font:1.2em/1em 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;
margin:3px 9px 0 22px;
text-align:right;
text-transform:capitalize;
width:98px;
}
#form_join input {
float:right;
margin:0 6px;
border:1px solid #D7D7D7;
width:300px;
* width:280px;
height:20px;
}
#form_join textarea {
float:right;
margin:0 6px;
border:1px solid #D7D7D7;
width:300px;
* width:280px;
}
#form_join input.error, #form_join textarea.error {
border:1px solid #CC0000;
}
#form_join p.right {
color:#CC0000;
display:block;
font:1.1em/1em 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;
height:15px;
margin:0;
padding:10px 10px 15px 37px;
text-align:right;
width:513px;
}
#form_join p.right label.error {
color:#CC0000;
float:right;
font:1.1em/1em 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;
margin:0;
text-align:right;
text-transform:none;
width:100%;
}
#form_join input.submit {
background:url("/img/btn_submit.gif") no-repeat scroll 0 0 #FFFFFF;
height:22px;
width:99px;
}
#form_join input.cancel {
background:url("/img/btn_cancel.gif") no-repeat scroll 0 0 #FFFFFF;
height:22px;
width:99px;
}
#form_join input.submit, #form_join input.cancel {
border:medium none;
cursor:pointer;
margin:0 6px;
text-indent:-9009px;
}
