
div.clSlideMenu { font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; position: absolute; width: 150; height: 22; overflow: hidden }
div.slideMenuBG { position: absolute; z-index: 1; top: 0; left: 0 }
div.slideMenuText { position: absolute; z-index: 200; top: 2; left: 2 }
#slideMenucont { visibility: hidden; position: absolute; width: 200; height: 600 }
/*These styles afffect the look of the text menu*/
a.clA0 { color: black; font-size: 10px; font-weight: bold; text-decoration: none }
a.clA0:hover  { color: #ff9200; font-size: 10px; font-weight: bold; text-decoration: none }
a.clA1 { color: black; font-size: 10px; font-weight: normal; text-decoration: none }
a.clA1:hover  { color: #ff9200; font-size: 10px; font-weight: normal; text-decoration: none }
a.clA2 { color: black; font-size: 9pt; font-style: italic; text-decoration: none }
a.clA2:hover { color: #b30000; font-size: 9pt; font-style: italic; text-decoration: none }
a.clA3 { color: black; text-decoration: none }
a.clA4 { color: black; text-decoration: none }
