<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">

<!-- Use the .htaccess and remove these lines to avoid edge case issues.
      More info: h5bp.com/b/378 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Pro Crate - crating &amp; assembly experts</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="Crate, Crating, Pool Table, Piano, Grandfather Clock, Dismantle, Disassembly, Move, Assemble" />
<meta name="description" content="ProCrate and Assembly, LLC provides a superior level of expertise in the commercial crating/transportation industry in Dallas/Ft Worth and surrounding areas. We are a custom shop that tailor makes our services to partner with your company. From start to finish, ProCrate is a company you can&rsquo;t afford not to do business with." />
<meta name="author" content="wearecharette.com" />

<!-- Mobile viewport optimized. -->
<meta name="viewport" content="width=320, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/base.css" media="screen" />
<link rel="stylesheet" type="text/css" href="css/fonts/stylesheet.css" media="screen" />
<!--[if !IE]>-->
<style type="text/css">
body {
    font-size:16px;
}
</style>
<!--<[endif]-->
<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js">IE7_PNG_SUFFIX=".png";</script>
<![endif]-->

<link rel="icon" href="favicon.ico" type="image/x-icon" />

<!-- All JavaScript at the bottom, except this Modernizr build.
      Modernizr enables HTML5 elements & feature detects for optimal performance.
      Create your own custom Modernizr build: www.modernizr.com/download/ -->
<script src="js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>
	<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
	<div class="wrapper">
		<header>
			<h1 id="logo"><a href="index.html">Pro Crate - crating &amp; assembly experts</a></h1>
			<nav>
				<ul id="primary">
					<li><a title="About Us" href="index.html">About Us</a></li>
					<li><a title="Services" href="services.html">Services</a></li>
					<li><a title="Questions" href="questions.html">Q&amp;A</a></li>
					<li><a class="active" title="Contact" href="contact.html">Contact</a></li>
				</ul>
				<div id="secondary">
					<dl class="more">
						<dt>Toll Free</dt>
						<dd>877.461.5512</dd>
						<dt>Local</dt>
						<dd>972.206.1266</dd>
						<dt>Email</dt>
						<dd><a href="mailto:info@procrate.com">info@procrate.com</a></dd>
					</dl>
				</div>
			</nav>
		</header>
		<article id="feature">
			<section id="gallery">
				<div class="prev"></div>
				<ul class="pager"></ul>
				<div class="slideshow">
					<article>
						<div>
							<h2>Let’s talk.</h2>
						</div>
						<div>
							<dl class="more">
								<dt>Toll Free</dt>
								<dd>877.461.5512</dd>
								<dt>Local</dt>
								<dd>972.206.1266</dd>
							</dl>
							<dl class="more">
								<dt>Toll Free Fax</dt>
								<dd>877.461.5524</dd>
								<dt>Local Fax</dt>
								<dd>972.206.1269</dd>
							</dl>
						</div>
					</article>
				</div>
				<div class="next"></div>
			</section>
			<section class="lined">
				<div class="half">
					<h3>Email us!</h3>
					<p><span class="orange">Owner</span> Garry Charette <a href="mailto:garry.charette@procrate.com">garry.charette@procrate.com</a></p>
					<p><span class="orange">Sales</span>  Dan Eichel <a href="mailto:dan@procrate.com">dan@procrate.com</a></p>
					<p><span class="orange">General Inquiries</span>  Office  <a href="mailto:info@procrate.com">info@procrate.com</a></p>
					<p><span class="orange">Operations</span>  James Frith <a href="mailto:james.frith@procrate.com">james.frith@procrate.com</a></p>
				</div>
				<div>
					<h3>Stop by our office</h3>
					<a class="left" style="display: block;padding-right: 30px;" target="_blank"  href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=1517+W.+North+Carrier+Pkwy+Ste.+130+Grand+Prairie,+TX+75050++map&aq=&sll=37.0625,-95.677068&sspn=37.462243,75.498047&vpsrc=0&t=v&ie=UTF8&hq=&hnear=1517+W+North+Carrier+Pkwy+%23130,+Grand+Prairie,+Texas+75050&z=16"><img src="images/map.jpg" width="128" height="128" alt="Map"><br />google map</a>
					<div>
						<div>
							<div class="street-address"><br />1517 W. North Carrier Pkwy <div class="suite">Suite 130</div></div>
							<span class="locality">Grand Prairie</span>, 
							<span class="region">TX</span> 
							<span class="postal-code">75050</span>
						</div>
					</div>
				</div>
			</section>
		</article>
	</div>
	<footer>
		<div class="wrapper">
			<div class="footerleft">
				<h3>Contact Us</h3>
				<ul>
					<li>Metro: (972) 206-1266</li>
					<li>TollFree: (877) 461-5512</li>
					<li>Fax: (972) 206-1269</li>
					<li class="grey"><br />&copy; copyright 2012 Pro-Crate &amp; Assembly, Inc. All rights reserved.</li>
				</ul>
			</div>
			<div id="hcard-address" class="vcard">
				<h3 class="fn n">
			 		<div class="given-name">Pro Crate</div>
					<div class="small">crating &amp; assembly experts</div>
				</h3>
				<div class="adr">
					<div class="street-address">1517 W. North Carrier Pkwy <div class="suite">Suite 130</div></div>
					<span class="locality">Grand Prairie</span>, 
					<span class="region">TX</span> 
					<span class="postal-code">75050</span>
				</div>
				<div class="tel">(877) 461-5512</div>
			</div>
		</div>
	</footer>
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  <!-- scripts concatenated and minified via build script -->
  <script defer src="js/plugins.js"></script>
  <script defer src="js/script.js"></script>
  <!-- end scripts -->
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-XXXXX-X']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>
</html>
