<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">

<!-- Use the .htaccess and remove these lines to avoid edge case issues.
      More info: h5bp.com/b/378 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Pro Crate - crating &amp; assembly experts</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="Crate, Crating, Pool Table, Piano, Grandfather Clock, Dismantle, Disassembly, Move, Assemble" />
<meta name="description" content="ProCrate and Assembly, LLC provides a superior level of expertise in the commercial crating/transportation industry in Dallas/Ft Worth and surrounding areas. We are a custom shop that tailor makes our services to partner with your company. From start to finish, ProCrate is a company you can&rsquo;t afford not to do business with." />
<meta name="author" content="wearecharette.com" />

<!-- Mobile viewport optimized. -->
<meta name="viewport" content="width=320, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/base.css" media="screen" />
<link rel="stylesheet" type="text/css" href="css/fonts/stylesheet.css" media="screen" />
<!--[if !IE]>-->
<style type="text/css">
body {
    font-size:16px;
}
</style>
<!--<[endif]-->
<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js">IE7_PNG_SUFFIX=".png";</script>
<![endif]-->

<link rel="icon" href="favicon.ico" type="image/x-icon" />

<!-- All JavaScript at the bottom, except this Modernizr build.
      Modernizr enables HTML5 elements & feature detects for optimal performance.
      Create your own custom Modernizr build: www.modernizr.com/download/ -->
<script src="js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>
	<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
	<div class="wrapper">
		<header>
			<h1 id="logo"><a href="index.html">Pro Crate - crating &amp; assembly experts</a></h1>
			<nav>
				<ul id="primary">
					<li><a title="About Us" href="index.html">About Us</a></li>
					<li><a title="Services" href="services.html">Services</a></li>
					<li><a class="active" title="Questions" href="questions.html">Q&amp;A</a></li>
					<li><a title="Contact" href="contact.html">Contact</a></li>
				</ul>
				<div id="secondary">
					<dl class="more">
						<dt>Toll Free</dt>
						<dd>877.461.5512</dd>
						<dt>Local</dt>
						<dd>972.206.1266</dd>
						<dt>Email</dt>
						<dd><a href="mailto:info@procrate.com">info@procrate.com</a></dd>
					</dl>
				</div>
			</nav>
		</header>
		<article id="feature">
			<section id="gallery">
				<div class="prev"></div>
				<ul class="pager"></ul>
				<div class="slideshow">
					<article>
							<div><br />
								<h2>From start to <br />finish, we&rsquo;re <br />the Pros.</h2>
							</div>
							<div>
								<p><br />We tailor make all of our services to your needs to partner with you and ensure that the job is done quickly and properly.  For those important shipments, leave it to the pros at ProCrate.</p>
								<p><a class="more" href="contact.html">Still not sure if we can help? Just ask.</a></p>
							</div>
					</article>
				</div>
				<div class="next"></div>
			</section>
			<section class="lined">
				<div class="sidenav">
					<ul>
						<li><a class="active" href="questions.html" title="Frequently Asked Questions">Frequently Asked Questions</a>
							<ul>
								<li><a href="#one" title="What are our hours of operation?">Hours of operation</a></li>
								<li><a href="#two" title="What is your service area?">Service area</a></li>
								<li><a href="#three" title="What forms of payment do you accept?">Forms of payment</a></li>
								<li><a href="#four" title="What if something gets broken?">Claim questions</a></li>
								<li><a href="#five" title="Why is my grandfather clock not chiming properly?">Why is my grandfather clock not chiming properly?</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="maincontent">
					<a name="one"></a>
					<h3>What are our hours of operation?</h3>
					<p>Normal operating hours are Monday through Friday between 8 and 5. Additional charges may apply for weekends.</p>
					<a name="two"></a>
					<h3>What is your service area?</h3>
					<p>Our normal service area is the DFW metropolitan area, but some exceptions may occur for large jobs.</p>
					<a name="three"></a>
					<h3>What forms of payment do you accept?</h3>
					<p>We gladly accept cash and checks.</p>
					<a name="four"></a>
					<h3>What if something gets broken?</h3>
					<p>All claims are to be handled through your mover, unless it was strictly a Pro-Crate &amp; Assembly job. In this case, you may contact us via phone or email on our contact page.</p>
					<a name="five"></a>
					<h3>Why is my grandfather clock not chiming properly?</h3>
					<p>After service, your grandfather clock may take 24 hours to reset and chime properly. If after 24 hours your clock is still not chiming properly stop the Pendulum and pull it to the right to signify a reset and release. Of course, you may contact us via phone or email on our contact page if you have any questions about this or it is still a problem.</p>
					<p>If we have not answered all of your questions or you are just curious, <a title="Contact Us" href="contact.html">give us a call or send us an email</a>.</p>
				</div>
			</section>
		</article>
	</div>
	<footer>
		<div class="wrapper">
			<div class="footerleft">
				<h3>Contact Us</h3>
				<ul>
					<li>Metro: (972) 206-1266</li>
					<li>TollFree: (877) 461-5512</li>
					<li>Fax: (972) 206-1269</li>
					<li class="grey"><br />&copy; copyright 2012 Pro-Crate &amp; Assembly, Inc. All rights reserved.</li>
				</ul>
			</div>
			<div id="hcard-address" class="vcard">
				<h3 class="fn n">
			 		<div class="given-name">Pro Crate</div>
					<div class="small">crating &amp; assembly experts</div>
				</h3>
				<div class="adr">
					<div class="street-address">1517 W. North Carrier Pkwy <div class="suite">Suite 130</div></div>
					<span class="locality">Grand Prairie</span>, 
					<span class="region">TX</span> 
					<span class="postal-code">75050</span>
				</div>
				<div class="tel">(877) 461-5512</div>
			</div>
		</div>
	</footer>
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  <!-- scripts concatenated and minified via build script -->
  <script defer src="js/plugins.js"></script>
  <script defer src="js/script.js"></script>
  <!-- end scripts -->
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-XXXXX-X']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>
</html>
