<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">

<!-- Use the .htaccess and remove these lines to avoid edge case issues.
      More info: h5bp.com/b/378 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Pro Crate - crating &amp; assembly experts</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="Crate, Crating, Pool Table, Piano, Grandfather Clock, Dismantle, Disassembly, Move, Assemble" />
<meta name="description" content="ProCrate and Assembly, LLC provides a superior level of expertise in the commercial crating/transportation industry in Dallas/Ft Worth and surrounding areas. We are a custom shop that tailor makes our services to partner with your company. From start to finish, ProCrate is a company you can&rsquo;t afford not to do business with." />
<meta name="author" content="wearecharette.com" />

<!-- Mobile viewport optimized. -->
<meta name="viewport" content="width=320, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/base.css" media="screen" />
<link rel="stylesheet" type="text/css" href="css/fonts/stylesheet.css" media="screen" />
<!--[if !IE]>-->
<style type="text/css">
body {
    font-size:16px;
}
</style>
<!--<[endif]-->
<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js">IE7_PNG_SUFFIX=".png";</script>
<![endif]-->

<link rel="icon" href="favicon.ico" type="image/x-icon" />

<!-- All JavaScript at the bottom, except this Modernizr build.
      Modernizr enables HTML5 elements & feature detects for optimal performance.
      Create your own custom Modernizr build: www.modernizr.com/download/ -->
<script src="js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>
	<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
	<div class="wrapper">
		<header>
			<h1 id="logo"><a href="index.html">Pro Crate - crating &amp; assembly experts</a></h1>
			<nav>
				<ul id="primary">
					<li><a title="About Us" href="index.html">About Us</a></li>
					<li><a class="active" title="Services" href="services.html">Services</a></li>
					<li><a title="Questions" href="questions.html">Q&amp;A</a></li>
					<li><a title="Contact" href="contact.html">Contact</a></li>
				</ul>
				<div id="secondary">
					<dl class="more">
						<dt>Toll Free</dt>
						<dd>877.461.5512</dd>
						<dt>Local</dt>
						<dd>972.206.1266</dd>
						<dt>Email</dt>
						<dd><a href="mailto:info@procrate.com">info@procrate.com</a></dd>
					</dl>
				</div>
			</nav>
		</header>
		<article id="feature">
			<section id="gallery">
				<div class="prev"></div>
				<ul class="pager"></ul>
				<div class="slideshow">
					<article><br />
							<h2>Need a Crate?</h2>
							<p class="large"><br />We offer a wide variety of crating options from solid, simple skeleton crates, skids palatizing, vapor sealing, or simply bulk heading your container, we will do it all!</p>
					</article>
				</div>
				<div class="next"></div>
			</section>
			<section class="lined">
				<div class="sidenav">
					<ul>
						<li><a class="active" href="services.html#commercial" title="Commercial Services">Commercial Services</a>
							<ul>
								<li><a href="#custom" title="Custom Crates">Custom Crates</a></li>
								<li><a href="#modular" title="Modular Furniture">Modular Furniture</a></li>
							</ul>
						</li>
					</ul>
					<ul>
						<li><a class="active" href="#residential" title="Residential Services">Residential Services</a>
							<ul>
								<li><a href="#motorcycle" title="Motorcycle Shipping">Motorcycle Shipping</a></li>
								<li><a href="#international" title="International Shipping">International Shipping</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="maincontent">
					<a name="commercial"></a>
					<h2>Commercial Services</h2>
					<p>Our commercial clients are always satisfied with our services, we guarantee!</p>
					<ul>
						<li>Moving Offices?</li>
						<li>Shuffling a couple cubes around?</li>
						<li>Need to move that copier up five floors?</li>
						<li>Need an expensive server shipped?</li>
					</ul>
					<p>Yes, we do that and much more...</p>
					<a name="custom"></a>
					<h3>About Pro-Crate Custom Commercial Crating</h3>
					<p>We at Pro-Crate and Assembly pride ourselves in providing a level of excellence to all of our commercial customers.  Pro-Crate&rsquo;s unique capabilities allow us to work with to provide a level of customization tailored to meeting your shipping needs.  We offer a wide variety of services including: solid crates, slatted crates, skeletal crates and custom built skids along with a knowledge and know how of packing and securing your item to eliminate a potential hazard.</p>
					<p>Pro-Crate can either build crates in our warehouse and deliver them to you or build on site in our fully equipped mobile workshops.  For extra levels of protection we can vacuum seal your item in a mylar bag to eliminate harmful water and element exposure.  Our technicians are experts in the crating and packaging of all types of items from heavy machinery to motorcycles and everything in between.</p>
					<p>Whether the shipping is foreign or domestic Pro-Crate has you covered, we are ISPM 15 certified and able to stamp all crates in order to meet customs requirements.  Pro-Crate tailor makes its serves to partner with you in order to fully meet your shipping needs.  Let Pro-Crate be your one stop shop for all of your packing and crating services.</p>
					<a name="modular"></a>
					<h3>Modular Furniture Assembly and Disassembly</h3>
					<p>We do modular furniture right the first time. If you need your modular furniture disassembled or assembled, look no further. Services will be completed the same day in most cases.</p>
					<a name="residential"></a>
					<h2>Residential Services</h2>
					<p>At Pro-Crate, we pledge ourselves to superior quality and excellent customer service. We build our crates on-site for the best possible fit, using our mobile workshop. Besides crating, our trained professionals can handle many household tasks for you. Just give us a call toll free at (877) 461-5512 and let us show you how we can help.</p>

					<ul>
						<li>Clocks - Assemble, Dismantle and Service</li>
						<li>Furniture - Assemble, Dismantle and Restore</li>
						<li>Pianos - Assemble, Dismantle, Crating and Tie & Untie keys</li>
						<li>Playground Equipment - Assemble, Dismantle, Repair, Move</li>
						<li>Exercise Equipment - Assemble, Dismantle</li>
						<li>Pool Tables - Assemble, Dismantle, Refelt</li>
						<li>and Much More . . .</li>
					</ul>
					<a name="motorcycle"></a>
					<h3>About Pro-Crate Motorcycle Shipping</h3>
					<p>Motorcycle going to Korea?  No problem Pro-Crate and Assembly is ISPM 15 certified so our bug stamp lets your crate ease its way through customs.</p>
					<a name="international"></a>
					<h3>About Pro-Crate International Shipping</h3>
					<p>For international shipments we have you covered.  Whether you need your container loaded/unloaded, a car blocked and secured, or a bulkhead built we do it all.  We are ISPM 15 certified allowing us to handle both domestic and international shipments.</p>
				</div>
			</section>
		</article>
	</div>
	<footer>
		<div class="wrapper">
			<div class="footerleft">
				<h3>Contact Us</h3>
				<ul>
					<li>Metro: (972) 206-1266</li>
					<li>TollFree: (877) 461-5512</li>
					<li>Fax: (972) 206-1269</li>
					<li class="grey"><br />&copy; copyright 2012 Pro-Crate &amp; Assembly, Inc. All rights reserved.</li>
				</ul>
			</div>
			<div id="hcard-address" class="vcard">
				<h3 class="fn n">
			 		<div class="given-name">Pro Crate</div>
					<div class="small">crating &amp; assembly experts</div>
				</h3>
				<div class="adr">
					<div class="street-address">1517 W. North Carrier Pkwy <div class="suite">Suite 130</div></div>
					<span class="locality">Grand Prairie</span>, 
					<span class="region">TX</span> 
					<span class="postal-code">75050</span>
				</div>
				<div class="tel">(877) 461-5512</div>
			</div>
		</div>
	</footer>
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  <!-- scripts concatenated and minified via build script -->
  <script defer src="js/plugins.js"></script>
  <script defer src="js/script.js"></script>
  <!-- end scripts -->
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-XXXXX-X']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>
</html>
