/* WE ARE CHARETTE all rights reserved */
/* v2.0 | 20120306 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* remember to define focus styles! */
/*:focus {
outline: 0;
}*/

/* remember to highlight inserts somehow! */
ins {
text-decoration: none;
}
del {
text-decoration: line-through;
}

html {
	-webkit-font-smoothing: antialiased;
}

body {
background:#E5E5E5;
color:#333333;
font-size:100%;
font-family: 'Helvetica Neue', 'HelveticaNeue', Arial, Helvetica, sans-serif;
line-height:1.125em;
text-align:left;
}

/* TAGS */
h1,h2,h3,h4 {
color:#333333;
}
h1{
	font-family: 'Helvetica Neue Condensed Bold', 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 3.0em;
	font-weight: normal;
	line-height: 1.05em;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 1);
}
h2{
font-family: 'Helvetica Neue Condensed Bold', 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
font-size: 2.75em;
font-weight: normal;
line-height: 1.05em;
text-shadow: 0 -1px 1px rgba(0, 0, 0, 1);
}
h3 {
color:#333333;
font-family: 'HelveticaNeue', 'Helvetica Neue', Arial, Helvetica, sans-serif;
font-size: 1.2em;
font-weight: bold;
line-height: 1em;
padding-bottom: 19px;
}
h4{
font-size: 1.8em;
line-height: 1em;
}
p {
font-size: 1em;
line-height: 1.5em;
}
a:link, a:visited, a:active {
color: #999999;
text-decoration:none;
outline: none;
}
a:hover, a:focus {
color: #FF6A11;
}
a.img:link, a.img:visited, a.img:active, a.img:hover {
border-width:0;
}
input, textarea, select {
	background: #DCDCDC;
	border-top:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
	color:#333333;
	font-family: 'Helvetica Neue', 'HelveticaNeue', Arial, Helvetica, sans-serif;
	font-size: .8em;
	font-weight: bold;
	height: 21px;
	padding: 2px 7px;
}
hr {
color: #1A1A1A;
background-color:#1A1A1A;
height:2px;
padding:0;
margin:0 0 15px 0;
border:0;
}

/* BASE CLASSES */

.left {
float:left;
}
.right {
float:right;
}
.clearboth {
clear: both;
}
.strong {
font-weight:bold;
}
.italic {
font-style:italic;
}
.sup {
vertical-align:top;
font:.7em/1.9em "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* COLORS */

.red, .error {
color:#DF282E;
}
.white {
color:#FFFFFF;
}
.black {
color:#333333;
}
.grey {
color:#666666;
}
.blue {
color:#85CCE5;
}
.yellow {
color:#F0C337;
}
.green {
color:#A5B73F;
}
.orange {
color:#FF6A11;
}
.emphasis {
	color:#333333;
	font-family: 'HelveticaNeue', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1em;
	padding-bottom: 19px;
}

/* FONTS */

.helveticaneue-condensedbold {
font-family: 'Helvetica Neue Condensed Bold', 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.helveticaneue {
font-family: 'Helvetica Neue Bold', 'HelveticaNeue-Bold', Arial, Helvetica, sans-serif;
}
.helveticaneue {
font-family: 'Helvetica Neue', 'HelveticaNeue', Arial, Helvetica, sans-serif;
}
.helveticaneue-light {
font-family: 'Helvetica Neue Light', 'HelveticaNeue-Light', Arial, Helvetica, sans-serif;
}
.helveticaneue-ultralight {
font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', 'HelveticaNeue', Arial, Helvetica, sans-serif;
}
.arial {
font-family: Arial, Helvetica, sans-serif;
}

/* LAYOUT */

.yellowbox, .greenbox {
	position: absolute;
	height: 7px;
	top: 0;
	width: 49%;
}
.yellowbox {
	background-color: #F0C337;
	left: 0;
	top: 0;
}
.greenbox {
	background-color: #A5B73F;
	right: 0;
	top: 0;
}
.wrapper {
	background:#FFFFFF;
	margin:0 auto;
	width:1135px;
}
.wrapper > header {
	border-top: #85CCE5 7px solid;
	clear: both;
	height: 116px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 982px;
}

/* nav */

#logo {
display:block;
float: left;
width:161px;
height:35px;
text-indent:-9009px;
background:transparent url('images/smart-design.gif') no-repeat 0 0;
padding: 0;
margin: 43px 0 0 0;
}
#logo a {
display:block;
width:100%;
height:100%;
outline:none;
}

nav ul li {
	float: left;
	list-style: none;
}
#primary {
	margin-top: 51px;
}
#primary, #secondary {
	float: right;
}
#primary li {
	font-size: 1.95em;
	font-weight: 600;
	line-height: 1em;
	padding-left: 20px;
	text-shadow: 0 -1px 0 rgba(102, 102, 102, 0.50);
}
#primary li a:link,
#primary li a:visited,
#primary li a:active {
	color: #CCCCCC;
}
#primary li a:hover, 
#primary li a:focus,
#primary li a:link.active,
#primary li a:visited.active,
#primary li a:active.active,
#primary li a:hover.active,
#primary li a:focus.active {
	color: #333333;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 1);
}
#secondary {
	clear: both;
	margin-top: -62px;
}
#secondary ul {
	float: left;
}
#secondary ul li {
	font-size: .75em;
}
#secondary ul li a:link, 
#secondary ul li a:visited, 
#secondary ul li a:active, 
#secondary ul li a:link {
	color: #666666;
	font-weight: 500;
}
#secondary ul li a:hover,
#secondary ul li a:focus {
	color: #FF6A11;
}

.social {
	background: transparent url('images/bg-social.gif') no-repeat 0 0;
	float: left;
	height: 17px;
	overflow: hidden;
	width: 56px;
}
.social li {
	height: 17px;
	padding-right: 4px;
	width: 16px;
	text-indent: -9009px;
}
.social li a:link,
.social li a:visited,
.social li a:active {
	display: block;
	height: 100%;
	width: 100%;
}
.social li.rss {
	padding-right: 0;
}
.social li a:hover {
	background-color: transparent;
	background-image: url('images/bg-social.gif');
	background-repeat: no-repeat;
}
.social li.twitter a:hover, 
.social li.twitter a:focus {
	background-position: 0 -20px;
}
.social li.facebook a:hover, 
.social li.facebook a:focus {
	background-position: -20px -20px;
}
.social li.rss a:hover, 
.social li.rss a:focus {
	background-position: -40px -20px;
}
.more li {
	background: #FFFFFF url('images/bg-separator.gif') no-repeat 100% 50%;
	padding: 0 10px 0 7px;
}
ul li.last {
	background: none;
}

/* sub navigation */

ul.subnav {
	clear: both;
	overflow: auto;
	margin-bottom: 19px;
}
.subnav li {
	margin-right: 10px;
}
.subnav li a:link,
.subnav li a:visited,
.subnav li a:active {
	background: none;
	color: #999999;
	font-family: 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 1.15em;
	display: block;
	height: 27px;
	padding: 8px 10px 0;
	text-transform: uppercase;
}
.subnav li a:hover,
.subnav li a:focus,
.subnav li a:link.active,
.subnav li a:visited.active,
.subnav li a:active.active,
.subnav li a:hover.active,
.subnav li a:focus.active {
	background: #87CCE6 url('images/bg-subnav.gif') repeat-x 0 0;
	color: #333333;
}

/* tabs navigation */

ul.category {
	clear: both;
	margin-top: 41px;
}
.category li {
	float: left;
	list-style: none;
	margin-right: 33px;
}
.category li a:link,
.category li a:visited,
.category li a:active {
	background: none;
	color: #AFAFAF;
	font-size: .95em;
	font-weight: bold;
	display: block;
	height: 41px;
	text-shadow: 0 -1px 1px rgba(51, 51, 51, .15);
}
.category li a:hover,
.category li a:focus,
.category li a:link.active,
.category li a:visited.active,
.category li a:active.active,
.category li a:hover.active,
.category li a:focus.active {
	color: #FF6A11;
}
.category li a:link.active::after,
.category li a:visited.active::after,
.category li a:active.active::after,
.category li a:hover.active::after,
.category li a:focus.active::after {
	content: url('images/bg-category-arrow.gif');
	display: block;
	padding-top: 12px;
	text-align: center;
}

/* industries navigation */

ul.industries {
	float: right;
	list-style-type: none;
	width: 480px;
}
.industries li {
	float:left;
	margin: 6px 0 0 0;
	padding: 0 10px 0 0;
	width:150px;
}
.industries li a:link,
.industries li a:visited,
.industries li a:active {
	color: #333333;
	font-size: .875em;
	font-weight: bold;
	display: block;
}
.industries li a:hover,
.industries li a:focus,
.industries li a:link.active,
.industries li a:visited.active,
.industries li a:active.active,
.industries li a:hover.active,
.industries li a:focus.active {
	color: #FF6A11;
}

/* feature section */

#feature .pullquote {
	background: #FFFFFF url('images/bg-feature.gif') no-repeat 0 0;
	border: none;
	height: 192px;
	margin: 0 auto;
	padding-bottom: 25px;
	width: 1021px;
}
#feature header.pullquote h2 {
	padding: 39px 43px 0;
}
#feature header.pullquote p {
	color:#CCCCCC;
	font-family: 'HelveticaNeue', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 600;
	line-height: 1em;
	padding: 12px 43px 0;
}
#feature header.pullquote a:link,
#feature header.pullquote a:visited,
#feature header.pullquote a:active {
	background: transparent url('images/arrow-more.gif') no-repeat 100% 50%;
	color: #CCCCCC;
	padding-right: 20px;
	text-shadow: 0 -1px 0 rgba(102, 102, 102, 0.50);
}
#feature header.pullquote a:hover,
#feature header.pullquote a:focus {
	background: transparent url('images/arrow-more-hvr.gif') no-repeat 100% 50%;
	color: #FF6A11;
}

/* gallery section */

#gallery {
	height: 485px;
	margin-bottom: 15px;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.slideshow {
	float: left;
}
#gallery img, .grid img, .description, #work img, #industries img, #related-list img {
	-moz-box-shadow: 0 1px 5px #666666;
	-webkit-box-shadow: 0 1px 5px #666666;
	box-shadow: 0 1px 5px #666666;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=270, Color='#666666')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=270, Color='#666666');
	margin: 5px 3px;
}
.prev {
	background: transparent url('images/btn-prev.gif') no-repeat 50% 50%;
	float: left;
	height: 100%;
	width: 75px;
}
.prev:hover {
	background: transparent url('images/btn-prev-hover.gif') no-repeat 50% 50%;
}
.next {
	background: transparent url('images/btn-next.gif') no-repeat 50% 50%;
	height: 485px;
	position: absolute;
	top: 0;
	right: 0;
	width: 75px;
	z-index: 999;
}
.next:hover {
	background: transparent url('images/btn-next-hover.gif') no-repeat 50% 50%;
}

	/* pager */

	.pager {
		position: absolute;
		top: 0;
		right: 78px;
		z-index: 999;
	}
	.pager li {
		float: left;
		height: 15px;
		padding-left:4px;
		text-indent: -9009px;
		width: 9px;
	}
	.pager li a:link,
	.pager li a:visited,
	.pager li a:active {
		background: transparent url('images/bg-bullets.gif') no-repeat 0 0;
		display: block;
		height: 100%;
		width: 100%;
	}
	.pager li a:hover,
	.pager li a:focus,
	.pager li.activeSlide a:link,
	.pager li.activeSlide a:visited,
	.pager li.activeSlide a:active,
	.pager li.activeSlide a:hover,
	.pager li.activeSlide a:focus {
		background-position: 100% 0;
	}

	/* no select */

	#gallery {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
	#gallery article, .slideshow {
		height: 485px;
		overflow: hidden;
		width: 1060px;
	}
	#gallery .description {
		height: 330px;
		position: absolute;
		right: 75px;
		top: 40px;
		width: 314px;
	}
	#gallery .description > * {
		padding-left: 30px;
		padding-right: 30px;
	}
	#gallery article .description:before {
		position: absolute;
		left: -21px;
		top: 32px;
	}

	/* article content */

	#gallery article header {
		clear: both;
		overflow: hidden;
		padding-top: 32px;
		padding-bottom: 5px;
	}
	#gallery article h2 {
		font-size: 1.95em;
		text-indent: -16px;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
	}
	#gallery article p {
		color: #FFFFFF;
		font-size: 1em;
		line-height: 1.2em;
		padding-bottom: 8px;
	}
	#gallery article header > p {
		font-size: .75em;
		font-weight: bold;
		padding-top: 5px;
	}
	#gallery article a:link,
	#gallery article a:visited,
	#gallery article a:active,
	#gallery article a:focus,
	#gallery article a:hover {
		font-size: .875em;
		font-weight: bold;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
	}

	/* article content blue */

	#gallery article .blue {
		background-color: #85CCE5;
	}
	#gallery article .blue:before {
		content: url('images/bg-tip-blue.png');
	}
	#gallery article .blue h2 {
		color: #2C454C;
	}
	#gallery article .blue header > p {
		color: #2C454C;
	}
	#gallery article .blue a:link,
	#gallery article .blue a:visited,
	#gallery article .blue a:active,
	#gallery article .blue a:focus,
	#gallery article .blue a:hover {
		color: #2D454C;
	}

	/* article content green */

	#gallery article .green {
		background-color: #A5B73F;
	}
	#gallery article .green:before {
		content: url('images/bg-tip-green.png');
	}
	#gallery article .green h2 {
		color: #434810;
	}
	#gallery article .green header > p {
		color: #434A19;
	}
	#gallery article .green a:link,
	#gallery article .green a:visited,
	#gallery article .green a:active,
	#gallery article .green a:focus,
	#gallery article .green a:hover {
		color: #434801;
	}

	/* article content orange */

	#gallery article .orange {
		background-color: #FF6A11;
	}
	#gallery article .orange:before {
		content: url('images/bg-tip-orange.png');
	}
	#gallery article .orange h2 {
		color: #5F2600;
	}
	#gallery article .orange header > p {
		color: #612704;
	}
	#gallery article .orange a:link,
	#gallery article .orange a:visited,
	#gallery article .orange a:active,
	#gallery article .orange a:focus,
	#gallery article .orange a:hover {
		color: #5D2500;
	}
	
/* one-column section */

#one-column {
	clear: both;
	margin: 0 auto;
	width: 985px;
}
#one-column-wide {
	clear: both;
	margin: 0 auto;
	overflow: hidden;
	width: 1035px;
}

/* work filter */

#one-column form {
	clear: both;
	overflow: hidden;
	margin-bottom: 28px;
	margin-top: 16px;
}
#search {
	margin-left: 12px;
	width: 195px;
}

/* work gallery */

#work article {
	margin-bottom: 107px;
}
#work article.large {
	width: 480px;
}
#work article.medium {
	margin-left: 160px;
	width: 320px;
}
#work article.small {
	height: 147px;
	margin-top: 78px;
	width: 440px;
}
#work article.small img {
	float: left;
	margin-right: 17px;
}
#work article > * {
	margin-left: 3px;
}
#work article h2 {
	font-family: 'Helvetica Neue', 'HelveticaNeue', Arial, Helvetica, sans-serif;
	font-size: .9375em;
	font-weight: bold;
	padding-bottom: 9px;
	padding-top: 4px;
	text-shadow: none;
}
#work article p {
	font-size: .875em;
}
#work article img {
	margin-bottom: 10px;
}

/* industries gallery */

#industries {
	clear: both;
	overflow: hidden;
	width: 100%;
}
#industries img {
	margin-bottom: 10px;
}

/* lined section */

.lined, .latest {
	clear: both;
	margin: 0 auto;
	overflow: hidden;
	width: 985px;
}

.lined {
	border-top: 1px #CCCCCC solid;
	border-bottom: 1px #CCCCCC solid;
	margin-bottom: 32px;
	padding: 30px 0 34px;
}
.half {
	float: left;
	margin-right: 22px;
	width: 480px;
}
.full {
	clear: both;
	margin-bottom: 37px;
	overflow: auto;
	width: 100%;
}
.full .half {
	width: 460px;
}

/* latest section */

.latest h2 {
	font-size: 1em;
	font-weight: normal;
	margin-bottom: 23px;
	text-shadow: none;
	text-transform: uppercase;
}

/* latest image grid */

.grid img {
	float: left;
	margin: 2px 16px 16px 2px;
}

/* expertise section */

#expertise article {
	background: #F3F3EB url('images/bg-category.gif') repeat-x 0 0;
	border-right: 1px #ECECE5 solid;
	border-bottom: 1px #ECECE5 solid;
	border-left: 1px #ECECE5 solid;
	clear: both;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 24px 4px 4px 24px;
}
#expertise article h2 {
	color: #333333;
	font-family: 'Helvetica Neue Bold', 'HelveticaNeue-Bold', Arial, Helvetica, sans-serif;
	font-size: 1.35em;
	margin: 8px 0 13px 0;
	text-shadow: 0 -1px 1px rgba(51, 51, 51, .2);
}
#expertise article p {
	padding-bottom: 8px;
}
#expertise article a:link,
#expertise article a:visited,
#expertise article a:active,
#expertise article a:hover,
#expertise article a:focus {
	color:#FF6A11;
	font-size: .8125em;
	font-weight: bold;
}

/* expertise image grid */

#expertise .grid {
	float: right;
	height: 320px;
	width: 670px;
}
#expertise .left {
	width: 314px;
}

/* article-list */

#article-list {
	background: #F3F3EB url('images/bg-category.gif') repeat-x 0 0;
	border-right: 1px #ECECE5 solid;
	border-left: 1px #ECECE5 solid;
	clear: both;
	overflow: hidden;
	padding: 0 24px;
}
#article-list article {
	background: transparent url('images/bg-dt.gif') repeat-x bottom left;
	clear: both;
	overflow: hidden;
	padding: 24px 0;
}
#article-list article.last {
	background: none;
}
#article-list article h2 {
	color: #333333;
	font-family: 'Helvetica Neue Condensed Bold', 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 2em;
	margin: 8px 0 13px 0;
	text-shadow: 0 -1px 1px rgba(51, 51, 51, .2);
}
#article-list article p {
	padding-bottom: 8px;
}
.meta p {
	padding-bottom: 3px;
}
.meta {
	float: left;
	font-size: .8125em;
	margin-right: 29px;
	width: 140px;
}
.tags {
	background: transparent url('images/bg-dt.gif') repeat-x 0 0;
	margin-top: 10px;
	padding-top: 13px;
}
.tags li {
	padding-bottom: 7px;
}
#article-list .copy {
	float: left;
	width: 480px;
}
#article-list .copy a:link,
#article-list .copy a:visited,
#article-list .copy a:active,
#article-list .copy a:hover,
#article-list .copy a:focus {
	color:#FF6A11;
	font-size: .8125em;
	font-weight: bold;
}
#article-list img {
	float: right;
}

/* related articles */

#related-list {
	background: #F3F3EB;
	border-right: 1px #ECECE5 solid;
	border-bottom: 1px #ECECE5 solid;
	border-left: 1px #ECECE5 solid;
	clear: both;
	overflow: hidden;
	padding-left: 22px;
	padding-top: 24px;
}
#related-list article {
	float: left;
	padding-right: 20px;
	width: 147px;
}
#related-list article h2 {
	color: #333333;
	font-family: 'Helvetica Neue Bold', 'HelveticaNeue-Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: .9375em;
	margin: 8px 0 13px 2px;
	text-shadow: none;
}
#related-list article p {
	color: #666666;
	font-size: .8125em;
	margin-left: 2px;
	padding-bottom: 24px;
}

/* article */

.article-wrapper {
	background: #FFFFFF url('images/bg-article.gif') repeat-y top center;
	margin: -25px auto 0;
	width: 1089px;
}
.article-wrapper::before {
	content: url('images/bg-article-top.gif');
}
.article-wrapper::after {
	content: url('images/bg-article-bottom.gif');
}
#detail {
	background: transparent url('images/bg-dt.gif') repeat-x bottom center;
	clear: both;
	margin: 0 53px;
	overflow: auto;
	padding-bottom: 30px;
}
#detail hgroup h2 {
	font-size: 2.3em;
	padding-bottom: 23px;
	padding-top: 50px;
}
#detail hgroup h3 {
	font-size: 1.3em;
	line-height: 1.2em;
}
#detail p {
	padding-bottom: 10px;
}
#detail img {
	padding: 30px 0;
}
.indent {
	float: right;
	width: 813px;
}

/* controls */

.controls {
	float: right;
	height: 41px;
}
.controls li {
	position: static;
	float: left;
	height: 41px;
	padding-left: 5px;
	text-indent: -9009px;
	width: 42px;
}
.controls li a:link,
.controls li a:visited,
.controls li a:active,
.controls li a:hover,
.controls li a:focus {
	display: block;
	height: 100%;
	width: 100%;
}
.controls li.prev {
	background: #FFFFFF url('images/bg-controls-prev.gif') no-repeat 0 0;
}
.controls li.close {
	background: #FFFFFF url('images/bg-controls-close.gif') no-repeat 0 0;
}
.controls li.next {
	background: #FFFFFF url('images/bg-controls-next.gif') no-repeat 0 0;
}


/* footer */

footer {
	background: #f3f3eb url('images/bg-footer.gif') repeat-x 0 0;
	clear: both;
	margin-top: 48px;
	overflow: hidden;
	padding: 31px 75px;
}

footer dt {
	background: transparent url('images/bg-dt.gif') repeat-x 0 100%;
	font-family: 'Helvetica Neue Condensed Bold', 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: .95em;
	letter-spacing: 1px;
	margin-bottom: 14px;
	padding-bottom: 14px;
	text-shadow: #CC6633 0 0 0;
	text-transform: uppercase;
}
footer dl {
	float: left;
	padding-right: 30px;
	width: 130px;
}
footer dd ul li {
	margin-bottom: 7px;
}
footer a:link,
footer a:visited,
footer a:active {
	color: #333333;
	font-size: .95em;
}
footer a:hover,
footer a:focus {
	color: #FF6A11;
}
footer section {
	margin-bottom: 28px;
}
footer section:first-child {
	float: left;
}
footer section + section {
	float: right;
}
footer nav {
	background: transparent url('images/bg-dt.gif') repeat-x 0 0;
	clear:both;
	font-size: .625em;
	padding-top: 11px;
	width: 100%;
}
footer nav p {
	float: left;
	padding-right: 2px;
}
footer nav ul li {
	background: transparent url('images/bg-separator.gif') no-repeat 100% 70%;
	margin-top: -2px;
	padding: 0 10px 0 7px;
}

/* vcard */

.vcard {
	float: left;
	padding-top: 47px;
	width: 168px;
}
.adr, .tel {
	color: #666666;
	font-size: .8125em;
}
#hcard-new-york {
	background: #f3f3eb url('images/bg-new-york.gif') no-repeat 0 0;
}
#hcard-san-francisco {
	background: #f3f3eb url('images/bg-san-francisco.gif') no-repeat 0 0;
}
#hcard-barcelona {
	background: #f3f3eb url('images/bg-barcelona.gif') no-repeat 0 0;
	width: 150px;
}
.fn {
	font-size: 1.1em;
	font-family: 'Helvetica Neue Condensed Bold', 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	margin-bottom: 4px;
}

/* Third Party */

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */

/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

/*
	Select Customizer jQuery plug-in
	based on customselect by Ace Web Design http://www.adelaidewebdesigns.com/2008/08/01/adelaide-web-designs-releases-customselect-with-icons/
	modified by David Vian http://www.ildavid.com/dblog
	and then modified AGAIN be Dean Collins http://www.dblog.com.au
	http://dblog.com.au/general/jquery-plugin-custom-styled-select-input-wkeyboard-interaction/
	modified by Jeff Charette - wearecharette.com
*/
#industry_iconselect {
	background: url('images/bg-select.gif') no-repeat;
	color: #333333;
	font-size: .8125em;
	font-weight: bold;
	float: left;
	height: 17px;
	margin-bottom: 4px;
	padding: 4px 10px 10px;
	width: 185px;
}
.selectwrapper {
	background-color: #FFFFFF;
	display:none;
	margin-top: 26px; 
	margin-left: 2px;
	position:absolute;
	-moz-box-shadow: 0 1px 1px #999999;
	-webkit-box-shadow: 0 1px 1px #999999;
	box-shadow: 0 1px 1px #999999;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=180, Color='#999999')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=180, Color='#999999');
	width: 202px;
}
.selectwrapper .selectitems {  
	font-size: .9375em;
	font-weight: bold;
	padding:3px;
	z-index: 10000; 
}
.selectwrapper .last { border: none; }
.selectwrapper .selectitems span { padding-left: 5px; } 
.selectwrapper .hoverclass {
	background: #87CCE6 url('images/bg-subnav.gif') repeat-x 0 0;
	cursor:pointer;
} 
.selectwrapper .selectedclass { background: #87CCE6 url('images/bg-subnav.gif') repeat-x 0 0; }
#industry_options {
	height: 168px;
	overflow-y: scroll;
	width: 202px;
}
#industry_holder { z-index: 3; }